.formulario {
    display: flex;
    justify-content: center;
    margin: 80px 25%;
    width: 50%;
}

.formulario form {
    max-width: 90%;
    background-color: #f2f2f2;
    padding: 36px 64px;
    width: 70%;
}

.formulario h2 {
    text-align: center;
}

.formulario button {
    font-size: 20px;
    padding: 20px 30px;
    border: none;
    background-color: rgb(112, 0, 218);
    color: #f2f2f2;
    margin-left: 62px;
}