.Categoria {
    display: block;
    margin: 60px;
    font-size: 24px;
}

.Categoria label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.Categoria select{
    max-width: 100%;
    background-color: #FFF;
    box-shadow: 5px 5px 15px rgb(212, 208, 208);
    border: none;
    font-size: 20px;
    padding: 20px 50px;
    box-sizing: border-box;
    width: 87%;
}